*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.25;
}

ul,
ol {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

p {
  font-size: 18px;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding: 0 16px;
  margin: 0 auto;
}

.learn-more {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212deg, 27%, 19%);
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  z-index: 1;
}
.learn-more::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: hsl(51deg, 100%, 49%);
  opacity: 0.2;
  z-index: -1;
}

#header {
  padding: 24px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header nav ul {
  display: flex;
  align-items: center;
}
#header nav ul li:not(:first-child) {
  margin-left: 40px;
}
#header nav ul li .nav-link {
  color: hsl(0deg, 0%, 100%);
  display: block;
  font-size: 16px;
}
#header nav ul li .nav-btn {
  padding: 16px 24px;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(212deg, 27%, 19%);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 9999px;
}

#hero-section {
  height: 100vh;
  display: flex;
  text-align: center;
  background-image: url("../assets/image-header.jpg");
  background-size: cover;
  background-position: top left;
  padding-top: 184px;
}
#hero-section h1 {
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  font-size: 56px;
  letter-spacing: 8px;
  font-weight: 900;
}
#hero-section button {
  background-color: transparent;
  border: none;
}

#content-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
#content-section .content {
  display: grid;
  place-content: center;
  padding: 0 120px;
}
#content-section .content h2 {
  font-size: 48px;
  margin-bottom: 16px;
  color: hsl(212deg, 27%, 19%);
}
#content-section .content p {
  color: hsl(213deg, 9%, 39%);
  line-height: 1.5;
  font-weight: 600;
}
#content-section .content .learn-more {
  justify-self: flex-start;
  margin-top: 16px;
}
#content-section .content-with-image {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
#content-section .content-with-image img {
  aspect-ratio: 1/1;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-row-start: 1;
  grid-row-end: -1;
  grid-column: 1;
}
#content-section .content-with-image .inner-content {
  grid-row-start: 3;
  grid-row-end: -1;
  grid-column: 1;
  padding: 40px 24px;
  text-align: center;
  max-width: 420px;
  margin: 0 auto;
}
#content-section .content-with-image .inner-content h3 {
  font-size: 32px;
  opacity: 0.8;
}

#testimonial {
  padding: 140px 0;
}
#testimonial h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  color: lightgray;
  text-align: center;
}
#testimonial .grid {
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 24px;
}
#testimonial .grid .testimonial-details {
  max-width: 380px;
  margin: 0 auto;
  text-align: center;
}
#testimonial .grid .testimonial-details p {
  color: hsl(213deg, 9%, 39%);
  margin-top: 40px;
}
#testimonial .grid .testimonial-details h3 {
  margin-top: 32px;
  margin-bottom: 0;
}
#testimonial .grid .testimonial-details span {
  color: hsl(210deg, 4%, 67%);
  display: inline-block;
  margin-top: 8px;
}
#testimonial .grid .avatar {
  width: 80px;
  height: 80px;
  border-radius: 9999px;
  overflow: hidden;
  margin: 0 auto;
}
#testimonial .grid .avatar img {
  width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */