*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #3dbeff;
}
.container {
  max-width: 1400px;
  padding: 0 16px;
  margin: 0 auto;
}
// header
#header {
  padding: 24px 0;
}
